/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(-9deg,#c48ade,#665ae7,#665ae7,#70e2b5);
  color: white;

}
.heroBanner h1 {
  font-size: 4.5rem; 
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 5rem;
  }

  .heroBanner h1 {
    font-size: 2.75rem; 
  }

  .heroBanner p {
    font-size: 1rem;
  }
}