/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #3527ce;
  --ifm-color-primary-dark: #3023b9;
  --ifm-color-primary-darker: #2d21af;
  --ifm-color-primary-darkest: #251b90;
  --ifm-color-primary-light: #4335d9;
  --ifm-color-primary-lighter: #4c3fdb;
  --ifm-color-primary-lightest: #695ee1;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #93d500;
  --ifm-color-primary-dark: #84c000;
  --ifm-color-primary-darker: #7db500;
  --ifm-color-primary-darkest: #679500;
  --ifm-color-primary-light: #a2ea00;
  --ifm-color-primary-lighter: #a9f500;
  --ifm-color-primary-lightest: #b7ff16;
}